.container{
    display: grid;
    grid-template-areas:
            "main" "main"
            "header" "main";
}
header{
    background-color: #24ffeb;
    background-position: center;
    color: black;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    background-color: black;
    /*background: url("halo.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    color: black;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: black;
    font-size: xx-large;
}
body{
    background: url("Ring.png") no-repeat;
    background-position: center;
}
div{
    font-size: x-large;
}
h1{
    color: #24ffeb;
    font-size: 50px;
}
h2{
    color: #24ffeb;
    font-size: 40px;
    text-align: center;
}

p{
    text-shadow: black;
    color: #24ffeb;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 25px;
}