.container{
    display: grid;
    grid-template-areas:
            "main" "main"
            "header" "main";
}
header{
    background: url("Ring.png") no-repeat;
    background-position: center;
    color: #24ffeb;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    color: black;
    background-color: aqua;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: #24ffeb;
    font-size: xx-large;
}
body{
    background-color: black;
}
div{
    font-size: x-large;
    text-align: center;

}
h2{
    text-align: center;
}
h1{
    font-size: 50px;
}
p{
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
}
form{
    align-content: center;
}

input[type=text], select, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.Submit{
    border-radius: 5px;
    padding: 20px;
}