.container{
    display: grid;
    grid-template-areas:
            "main" "main"
            "header" "main";
}
header{
    background: url("Ring.png") no-repeat;
    background-position: center;
    color: #24ffeb;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(black, #24ffeb);
    color: #24ffeb;
    background-color: aqua;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: #24ffeb;
    font-size: xx-large;
}
body{
    background-color: black;
}
div{
    text-align: center;
    font-size: 100px;
}
h1{
    font-size: 20px;

}
h2{
    text-align: center;
    font-size: 100px;
}

