.container{
    display: grid;
    grid-template-areas:
            "header" "header"
            "main" "main"
            "main" "main"
            "footer" "footer";
    grid-template-columns: auto;
}
header{
    background-color: #24ffeb;
    background-position: center;
    color: black;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    /*background: url("halo.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    color: #24ffeb;
    background-color: black;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: black;
    font-size: xx-large;
}
body{
    background: url("Ring.png") no-repeat;
    background-position: center;
}
div{
    text-align: center;
    font-size: 100px;
}
h1{
    font-size: 20px;

}
h2{
    text-align: center;
    font-size: 100px;
}
.left{
    background-color: black;
    float:left;
}
.right{
    background-color: black;
    float: right;
}
footer{
    background-color: #24ffeb;
}

.foot{
    font-size: 20px;
    text-align: left;
}
