.container{
    display: grid;
    grid-template-areas:
            "main" "main"
            "header" "main";
}
header{
    background-color: #24ffeb;
    background-position: center;
    color: black;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    /*background: url("halo.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-color: black;
    color: #24ffeb;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: black;
    font-size: xx-large;
}
body{
    background: url("Ring.png") no-repeat;
    background-position: center;
}
div{
    font-size: x-large;
}
h1{
    color: #24ffeb;
    font-size: 50px;
}
button{
    color: #24ffeb;
    background-color: black;
    border: 1px solid #24ffeb;
    font-size: 50px;
    text-align: center;
    align-content: center;
}
button[type=button]:hover{
    background-color: #24ffeb;
    color: black;
}
h2{
    text-align: center;
}
div{
    text-align: center;
}
footer{
    background-color: #24ffeb;
}

.foot{
    font-size: 20px;
    text-align: left;
}