.container{
    display: grid;
    grid-template-areas:
            "main" "main"
            "header" "main";
}
header{
    background-color: #24ffeb;
    background-position: center;
    color: black;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    background: url("halo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #24ffeb;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: black;
    font-size: xx-large;
}
body{
    background: url("Ring.png") no-repeat;
    background-position: center;
}
div{
    font-size: x-large;
}
h1{
    font-size: 50px;
}
h2
{
    color: #24ffeb;
    text-align: center;
    font-size: xx-large;
}
img{
}