.container{
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer";
    grid-gap: 1px;
}
header{
    background-color: #24ffeb;
    background-position: center;
    color: black;
    /*background-color: #111111;*/
    text-align: center;
    margin-left: fill;
    margin-right: fill;
    font-size: xx-large;
}
main{
    /*background: url("halo.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-color: black;
    color: #24ffeb;
    float: right;
    margin-right: fill;
    margin-left: fill;
}
a{
    color: black;
    font-size: xx-large;
}
body{
    background: url("Ring.png") no-repeat;
    background-position: center;
}
div{
    font-size: x-large;
}
h1{
    font-size: 50px;
}
h2
{
    color: black;
    text-align: center;
    font-size: xx-large;
}
img{
}
.text{
    color: #24ffeb;
}
td{
    text-align: center;
    background-color: #24ffeb;

}
h6{
    color: black;
}
table{
    margin: auto;
}
footer{
    background-color: #24ffeb;
}

.foot{
    font-size: 20px;
    text-align: left;
}